__pycache__/
*.py[cod]
*$py.class

# Data and DB
data/raw/*
data/processed/*
data/db_storage/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Environments
.env
.venv*
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# ML models and embeddings cache
models/
.cache/
.huggingface/

# OS and IDE
.DS_Store
.vscode/
.idea/

# Docker logs
*.log
docker-compose.override.yml